body {
	background-image: url('http://cdn.displays2go.com/images/enck7236bk-colorlg.jpg');
}

#topbar {
    background-color: black;
    color: white;
    text-align: left;
    position: absolute;
    top: 0;
    width: 100%;
}

p{
	color:white;
}

.card {
cursor: pointer;
}

.title {
	text-align: center;
	font-size: 30px;
    padding-top: 10px;
}

#modalTitle{
  text-align: center;
}

#button-text{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.movieInfo {
	background-color: black;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 10px !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 10px;
}

.movieInfoText {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.languageText{
    text-align: center;
    padding-top: 10px;
}


.modalDecoration {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    overflow: scroll;
}
.modalDecoration:target {
    opacity:1;
    pointer-events: auto;
}
.modalDecoration > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

.plus-icon {
    color: #337ab7;
    font-size: 20px;
    text-align: center;
}

.modalDecorationMLB {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    overflow: scroll;
}
.modalDecorationMLB:target {
    opacity:1;
    pointer-events: auto;
}
.modalDecorationMLB > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.updatedMovieInfo {
    background: red;
}



#mlb-card {
    background: transparent;
    margin: auto;
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
}
.card-text{
    color: black;
    text-align: center;
}

.card-title {
    text-align: center;
}

.card-img-top {
    width: 100%;
}

.mlbTvButton{
    text-align: center;
}

.containerSearch{
    text-align: center;
    top: 18px;
    right: -800px;
    float: left;
    position: relative
}

.centerbutton {
    text-align: center;
}

.mlbButton {
    margin-left: 20px;
}

#boardTitle {
 margin-left: 40px;
}

.alignCards{
    position: relative;
    bottom: -100px;
}

.modalDecorationMLB {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    overflow: scroll;
}
.modalDecorationMLB:target {
    opacity:1;
    pointer-events: auto;
}
.modalDecorationMLB > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.closeMLB {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.closeMLB:hover {
    background: #00d9ff;
}

.moviePosterLocation{
    margin-left: 32%;
    position: relative;
}

.mlbDisplayCard{
    display: none;
    background-color: white;
    padding: 20px;
    border: 2px black solid;
}

